.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo {
  height: 30px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
}

.site-layout .site-layout-background {
  background: #fff;
  width: 100%;
  border-radius: 25px;
  padding: 60px !important;
}

.site-layout-background-header{
  background: #f0f2f5;
  width: 100%;
}
  [data-theme="dark"] .site-layout .site-layout-background .site-layout-background-header{
    background: #141414;
  }

.site-layout-header {
  background: #002140;
}

.pv_logo {
  max-width: 180px !important;
  float: left;
  margin: 16px 24px 16px 0;
  border-radius: 10px
}
.exp-logo {
  max-width: 180px !important;
  max-height: 100px !important;
  margin: 0% !important;
  cursor: pointer;
}
.left-sec {
  display: block;
  margin: 0 auto;
  padding: 0 !important;
}

/* .ant-menu {
  padding: 20px !important;
} */

.ant-breadcrumb-link,
.ant-breadcrumb-separator {
  color: #ffff;
}

/* .ant-layout-sider-trigger {
  display: none;
} */

.bread-crumbs-selected-color{
  /* text-decoration: underline !important; */
  color: rgb(155 81 200 / 3);
}
.bread-crumbs-color{
  color: #fff;
}

.content-background{
  margin: "24px 16px";
  padding:" 70px";
  padding-left: "230px";
}
.ant-breadcrumb-link, .ant-breadcrumb-separator {
  color: rgb(10, 10, 10);
}

.ant-menu {
  top: 100px !important;
  position: fixed;
  padding: 0px !important;
}

.ant-menu-inline {
  height: 100vh;
  width: 150px;
  position: fixed;
}
.header-brdcrmbs{
  top: 70px !important;
  position: relative;
}

.ant-layout-content {
margin: 24px 16px;
    padding: 24px;
}
.highcharts-container{
  margin: auto;
  width: 100% !important;
}
.highcharts-root{
  width: 100% !important;
}
.ant-layout-header{
  height: 80px !important;
}

.ant-select-multiple .ant-select-selection-placeholder {
  position: relative;
  top: 0%;
  transform: translateY(0%);
}

.ant-select-selection-placeholder {
  flex: 20 20;
}
.ant-select-multiple .ant-select-selection-placeholder {
  right: 10px;
  left: auto;
}
.multiselect{
  max-height: 38px !important;
  max-width: 264px !important; 
  /* overflow-y: hidden;
  overflow-x: hidden; */
}
.ant-select-selector{
  max-height: 40px !important;
  max-width: 264px !important;
  background-color: rgb(155 81 200 / 3) !important;
}

.ant-layout-header {
  line-height: 0px;
}
.ant-select {
  line-height: 2.5715;
  max-height: 40px !important;
  max-width: 264px !important; 
  background-color: rgb(155 81 200 / 3);
  color: #fff;
  border-radius: 65px
}
.report-graph{
  position: relative;
  top:100px
}

.footer-style{
  align-self: center;
  font-weight: 700;
}

.ant-select-selection-overflow {
  visibility: hidden;
}
.header-text {
  color: #fff !important;
  position: relative;
  right: 180px;
  width: 250px;
}
.sider-view {
  flex: 0 0 200px;
  max-width: 150px !important;
  min-width: 150px !important;
}

.ant-divider-inner-text {
  display: inline-block;
  padding: 0 1em;
  width: 100%;
}

.ant-divider-vertical {
  position: initial;
}

.ant-layout {
  background: #190f2a;
}

.ant-breadcrumb {
  font-size: 18px;
}

h1{
  color: rgb(155 81 200 / 3);
  font-size: 18px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 25px !important;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header-btn {
  background-color: rgb(155 81 200 / 3) !important;
  border-color: white !important;
  color: white !important;
  margin-left: 10px;
}

.header-btn-style {
  padding-left: 850px !important;
}
.header-btn-cancel {
  padding-left: 50px;
  padding-right: 50px;
}
.header-btn-pad {
  padding-left: 55rem;
}
.ant-table-body { overflow-x: auto !important; } 

.ant-btn-primary {
  color: #fff;
  background: rgb(155 81 200 / 3);
  border-color: rgb(155 81 200 / 3);
}